[user]
	name = Pedro Pinto
	email = pedropintomena@gmail.com
	
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    type = cat-file -t
    dump = cat-file -p

[core]
	fileMode = false
	editor = mate -w

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true

[commit]
	template = ~/.gitmessage
	
	
	